html {
    box-sizing: border-box}
*,
*::before,
*::after { box-sizing: inherit}

:root {
    --primary-text-color: #212121;
    --font-color: #FFFFFF;
    --accent-color:  #2196F3;
    --logo-color: #000000; 
    --contact-color: #757575;
    --hero-font: #2F303A;
    --team-font: #F5F4FA;
}

body { 
    font-family: 'Roboto', sans-serif;
    background-color: var(--font-color);
    color: var(--primary-text-color);
    margin: 0}

p, h1, h2, h3 {margin: 0}


.list { padding: 0;
    margin: 0;
    list-style:none}

a { text-decoration: none;
    display: inline-block;
}

.link.current {color: var(--accent-color);
}

.section { 
    padding-top: 94px;
    padding-bottom: 94px;}


.container { width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
/*лого*/
.web {font-family: 'Raleway';
    color: var(--accent-color);
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    }

.studio {
    font-family: 'Raleway';
    color: var(--logo-color);
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-right: 94px;}

.logo {display:flex;
    align-items: center}

/*навігація по сайту header*/

header{
    background-color: var(--font-color);
    font-size: 14px;
    line-height: 1.1;
    color: var(--primary-text-color);
    }

.link {
    color: var(--primary-text-color)}

.header-nav { display: flex;
    align-items: center;
    font-weight: 500;
    color: var(--primary-text-color);
    letter-spacing: 0.02em;
    font-size: 14px;
    line-height: 1.1;
    }

.header-nav .link {display: block;
    align-items: center}

.header-nav-li {margin-right: 50px;
    }

.header-nav-li :last-child {margin-right: 0}

.header-nav .link:hover,
.header-nav .link:focus
{   color: var(--accent-color);
    }

.contacts {display: flex;
    margin: auto;
    }

.contacts-li {margin-right: 50px;}

.header-contacts {color: var(--contact-color);}

.contacts-tel,
.contacts-mail { 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--contact-color);
    padding-top: 32px;
    padding-bottom: 32px;}

.contacts-tel:hover,
.contacts-tel:focus,
.contacts-mail:hover,
.contacts-mail:focus
{  color: var(--accent-color)}

.logo .container {border: 1px #ECECEC;
}

/*головне*/

.hero { 
    background-color: var(--hero-font);
    margin-top: 0;
    text-align: center;
    display: block;
    width: 1600px;
    }

.hero-title { 
    color: var(--font-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 696px;
    margin: 0 auto;
    }

.button { font-family: inherit;
    font-weight: 700;
    background-color: var(--accent-color);
    color: var(--font-color);
    Font-size: 16px;
    Line-height: 1.9;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    min-width: 216px;
    padding: 32px, 10px;
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #188CE8;}

.button:hover 
.button:focus {
    background-color: #188CE8;
}

/*Список послуг*/

.offers { display: flex;
    background-color:var(--font-color);
    color:var(--primary-text-color);
    font-weight: 700px;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;}


.offers-li { padding-bottom: 30px;
    max-width: 270px;
    margin-right: 30px;
}
.offers-li :last-child {margin-right: 0;}

.text {
    background-color:var(--font-color);
    color: var(--contact-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03e;
    text-transform: none
}

/*список послуг з фото*/
.products {display: flex;
    background-color: var(--font-color);
    position: center;
    padding-top: 0;}

.products-title {
    background-color:var(--font-color);
    color: var(--primary-text-color);
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    margin-top: 0}

.products-li {
    margin-right: 30px;}

.products-li :last-child {margin-right: 0;}
/*Команда*/
.teamblock {
    background-color: var(--team-font);
    color: var(--primary-text-color);
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    }
.team-ul {display: flex;}


.team {
    background-color: var(--team-font);
    text-align: center;
    }

.team-li {
    background-color: var(--font-color);
    width: 270px;
    left: 215px;
    top: 1632px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    margin-right: 30px;}

.team-li :last-child {margin-right: 0;}

.name {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 10px;
    }
    
.position { 
    color: var(--contact-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    }

.people {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

/*footer*/
.footer {padding-top: 0;
    background-color: var(--hero-font)}

.footer-logo {margin-top: 60px;
margin-bottom: 20px;}

.studio-foot {
        font-family: 'Raleway';
        color: var(--font-color);
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em}

.adr {
    color: var(--font-color);
    font-style: normal;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.buttons { 
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center; 
    letter-spacing: 0.03em;
    display: flex;
    margin-bottom: 50px;
    width: 575px;
    margin-right: 512px;
    margin-left: 512px;

    
    }

.mail, 
.tel {
    font-style: normal;
    color: var(--font-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6)}

.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus {
    color: var(--accent-color)
}

/*Портфоліо мейн*/

.main {
    background-color: var(--font-color);}

.gallery-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color)}

.gallery-product {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--contact-color)}

.btn  { font-family: inherit;
    background-color: var(--font-color);
    color:var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    margin-right: 8px;
}

.btn:hover,
.btn:focus { background-color: var(--accent-color);
    color: var(--font-color)
}

.btn-primary {
    background-color: var(--accent-color);
    color: var(--font-color)
}