html {
    box-sizing: border-box}
*,
*::before,
*::after { box-sizing: inherit}

:root {
    --primary-text-color: #212121;
    --font-color: #FFFFFF;
    --accent-color:  #2196F3;
    --logo-color: #000000; 
    --contact-color: #757575;
    --hero-font: #2F303A;
    --team-font: #F5F4FA;
    --icon-color: #AFB1B8;
}

body { 
    font-family: 'Roboto', sans-serif;
    background-color: var(--font-color);
    color: var(--primary-text-color);
    margin: 0}

p, h1, h2, h3 {margin: 0}


.list { padding: 0;
    margin: 0;
    list-style:none}

a { text-decoration: none;}

.link.current{color: var(--accent-color);
}

.section { 
    padding-top: 94px;
    padding-bottom: 94px;}


.container { width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*лого*/
.web {font-family: 'Raleway';
    color: var(--accent-color);
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
    }

.studio {
    font-family: 'Raleway';
    color: var(--logo-color);
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    }

.logo {display: flex;
    align-items: center;
    }

/*навігація по сайту header*/

.head{ 
    background-color: var(--font-color);
    font-size: 14px;
    line-height: 1.1;
    color: var(--primary-text-color);
    padding-bottom: 0;
    padding-top: 0;
    }

.link {
    color: var(--primary-text-color);
    padding: 32px 0;}

.nav { display: flex;
    align-items: center;
    font-weight: 500;
    color: var(--primary-text-color);
    letter-spacing: 0.02em;
    font-size: 14px;
    line-height: 1.1;
    column-gap: 50px;
    }

.nav-item 
.contact {display: block;
    align-items: center;
    }

.nav .link:hover,
.nav .link:focus
{   color: var(--accent-color);
    }

.contacts {display: flex;
    margin-left: auto;
    column-gap: 50px;
    }

.contacts {color: var(--contact-color);}

.contacts-tel,
.contacts-mail{ 
    font-weight: 500;
    font-size: 14px;
    display: flex;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--contact-color);
    padding-top: 32px;
    padding-bottom: 32px;
    }

.contacts-tel:hover,
.contacts-tel:focus,
.contacts-mail:hover,
.contacts-mail:focus
{  color: var(--accent-color)}

.head {border-bottom: 1px solid #ECECEC;
}

.icon-mail-item {
    fill: var(--contact-color);
    margin-right: 10px;}

.icon-mail-item:hover,
.icon-mail-item:focus
{  color: var(--accent-color)}

/*головне*/

.hero { 
    background-color: var(--hero-font);
    background-image: linear-gradient(to right, 
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/font.jpg);
    max-width: 1600px;
    height: 600px;
    align-items: center;
    margin-top: 0;
    margin: auto;
    text-align: center;
    display: block;
    padding-top: 200px;
    padding-bottom: 200px;
    }

.hero-title { 
    color: var(--font-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 696px;
    margin: 0 auto;
    }

.button { font-family: inherit;
    font-weight: 700;
    background-color: var(--accent-color);
    color: var(--font-color);
    Font-size: 16px;
    Line-height: 1.9;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    min-width: 216px;
    padding: 10px 32px;
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #188CE8;}

.button:hover 
.button:focus {
    background-color: #188CE8;
}

/*Список послуг*/

.offer {background-color: var(--font-color);}

.offers-list { display: flex;}

.offer-item { 
    margin-right: 30px;
    flex-basis: calc((100% - 3 * 30px) / 4);}

.offer-item-title {
    color:var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.offer-item:last-child {margin-right: 0}

.text {
    color: var(--contact-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03e;
    text-transform: none;
    margin-bottom: 0;
}

.benefit {
    background-color: #F5F4FA;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.benefit-item {display: flex;
    justify-content: center;
    align-items: center;
    }

/*список послуг з фото*/

.product {padding-top: 0;}

.products {display: flex;
    flex-basis: calc((100% - 2 *30px) / 3);
    background-color: var(--font-color);
    padding-top: 0;}

.products-title {
    background-color:var(--font-color);
    color: var(--primary-text-color);
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    margin-top: 0}

.products-item {
    margin-right: 30px;}

img {max-width: 370px;
    width: 100%;
    height: auto;}

.products-item:last-child {margin-right: 0}

/*Команда*/


.team {
    background-color: var(--team-font);
    color: var(--primary-text-color);
    text-align: center;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    }

.members {display: flex;
    margin-top: 50px;}


.member {
    background-color: var(--font-color);
    width: 270px;
    left: 215px;
    top: 1632px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    margin-right: 30px;}

.member:last-child {margin-right: 0;}

.name {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    }
    
.position { 
    color: var(--contact-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    }

.people {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
}
.members-soc {
    display: flex;
    justify-content: center;
    gap: 10px;
    }

.members-soc-link{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--font-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.members-soc-link:hover,
.members-soc-link:focus{
    background-color: var(--accent-color);
}

.members-soc-icon { 
    fill: var(--icon-color);
}

.members-soc-link:hover .members-soc-icon,
.members-soc-link:focus .members-soc-icon{
    fill: var(--font-color);}

/* Clients*/

.clients {
    background-color: var(--font-color)}

.client-title {
    Font-size: 36px;
    line-height: 1.2;
    Letter-spacing: 3%;
    color: var(--primary-text-color);
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
    }

.client-list { 
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    }

.client-item-link {display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    width: 170px;
    height: 92px
}   

.client-item-icon {fill: var(--icon-color);}

.client-item-link:hover, 
.client-item-link:focus,
.client-item-icon:hover,
.client-item-icon:focus{
    border-color: var(--accent-color);
    fill: var(--accent-color);
}

/*footer*/

.down { background-color: var(--hero-font);
    padding-bottom: 60px;
    padding-top: 60px;
}
.foot-info {display: flex;
}
.web-down{ font-family: 'Raleway';
    color: var(--accent-color);
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    display: block;
    margin-bottom: 20px}

.studio-foot {
    font-family: 'Raleway';
    color: var(--font-color);
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em}

.adr {
    color: var(--font-color);
    font-style: normal;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-bottom: 9px;}

.contacts-down {display: block;}
    
.mail-down {display: block;
    margin-bottom: 6px;
    font-style: normal;
    color: var(--font-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);}

.mail-down, 
.tel {
    font-style: normal;
    color: var(--font-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.mail-down:hover,
.mail-down:focus,
.tel:hover,
.tel:focus {
    color: var(--accent-color)
}
.social-links {
}

    
.social-links-title{
    Font-size: 14px;
    Line-height: 1.1px;
    color: var(--font-color);
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

.social-list {display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;}

.social-link {display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--hero-font);
    border-radius: 50%;
    width: 44px;
    height: 44px}

.social-links-icon {fill: var(--font-color);}

.social-link:hover
.social-link:focus {
    background-color: var(--accent-color);
}

/*Портфоліо мейн*/

.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--font-color);
    }

.buttons {display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 50px;
}
.btn-item {margin-right: 8px;}
.btn-item:last-child {margin-right: 0}

.btn  { font-family: inherit;
    background-color: #F5F4FA;
    color:var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    border: 1px solid transparent;
    border-radius: 4px; 
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
}

.btn:hover,
.btn:focus { background-color: var(--accent-color);
    color: var(--font-color)
}

.btn-primary {
    background-color: var(--accent-color);
    color: var(--font-color)
}
.gallery { padding-top: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    }

.gallery-item {flex-basis: calc((100% - 2 * 30px) / 3);
    }

img {display: block; 
    width: 370;
    width: 100%;}

.gallery-title {margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color)}

.description {padding: 20px 24px;
    border: 1px solid #EEEEEE}

.gallery-product {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--contact-color)}

