:root {
    --primary-text-color: #212121;
    --font-color: #FFFFFF;
    --accent-color:  #2196F3;
    --logo-color: #000000; 
    --contact-color: #757575;
    --hero-font: #2F303A;
    --team-font: #F5F4FA;
}

body { 
    font-family: 'Roboto', sans-serif;
    background-color: var(--font-color);
    color: var(--primary-text-color)}

.list {
    list-style:none}

a { text-decoration: none }

/*лого*/
.web {font-family: 'Raleway';
    color: var(--accent-color);
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em}

.studio {
    font-family: 'Raleway';
    color: var(--logo-color);
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em}

/*навігація по сайту header*/

header { width: 1600px;
    height: 80px;
    background-color: var(--font-color);
    font-size: 14px;
    line-height: 1.1;
    color: var(--primary-text-color);
    }

.link {
    color: var(--primary-text-color)}

.header-nav {
    font-weight: 500;
    color: var(--primary-text-color);
    letter-spacing: 0.02em;
    font-size: 14px;
    line-height: 1.1}

.header-nav .link:hover,
.header-nav .link:focus
{   color: var(--accent-color)}

.header-contacts {color: var(--contact-color);}
.contacts-tel,
.contacts-mail { 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--contact-color)}

.contacts-tel:hover,
.contacts-tel:focus,
.contacts-mail:hover,
.contacts-mail:focus
{  color: var(--accent-color)}

/*головне*/

.hero { 
    background-color: var(--hero-font);
    color: var(--font-color);
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase}

.button { font-family: 'Roboto';
    font-weight: 700;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--font-color);
    Font-size: 16px;
    Line-height: 1.9;
    cursor: pointer}

/*Список послуг*/

.offers {
    background-color:var(--font-color);
    color:var(--primary-text-color);
    font-weight: 700px;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase}

.text {
    background-color:var(--font-color);
    color: var(--contact-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03e;
    text-transform: none
}

/*список послуг з фото*/
.products {
    background-color: var(--font-color);
    position: center}

h2 {
    background-color:var(--font-color);
    color: var(--primary-text-color);
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em}

/*Команда*/
.teamblock {
    background-color: var(--team-font);
    color: var(--primary-text-color);
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em}

.team {
    background-color: var(--team-font);
    text-align: center}

.ourteam {
    background-color: var(--font-color);
    width: 270px;
    height: 368px;
    left: 215px;
    top: 1632px;    }

.name {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em}
    
.position { 
    color: var(--contact-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em}

/*footer*/
.footer {
    background-color: var(--hero-font)}

.studio-foot {
        font-family: 'Raleway';
        font-style: normal;
        color: var(--font-color);
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em}

.adr {
    color: var(--font-color);
    font-style: normal;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.buttons { 
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center; 
    letter-spacing: 0.03em}

.mail, 
.tel {
    font-style: normal;
    color: var(--font-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6)}

.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus {
    color: var(--accent-color)
}

/*Портфоліо мейн*/

.main {
    background-color: var(--font-color);}

.gallery-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color)}

.gallery-product {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--contact-color)}

.btn  { font-family: 'Roboto';
    background-color: var(--font-color);
    color:var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em
}
.btn:hover,
.btn:focus { background-color: var(--accent-color);
    color: #FFFFFF

}
.btn-primary {
    background-color: var(--accent-color);
    color: var(--font-color)
}