.logo {
  font-family: "Raleway";
  color: var(--accent-color);
  @include fonts(500, 26px, 1.2, 0.03em);
}

.studio {
  font-family: "Raleway";
  color: var(--logo-color);
  @include fonts(500, 26px, 1.2, 0.03em);
}
