.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  font-style: bold;
  font-size: 36px;
  line-height: 1.12;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;
}
