.section {
  padding-top: 94px;
  padding-bottom: 94px;

  @media screen and (min-width: 480px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}
