.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition);
  cursor: pointer;
}

.socials__link:hover,
.socials__link:focus {
  background-color: var(--accent-color);
}

.socials__icon {
  fill: var(--icon-color);
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: var(--font-color);
}
