.connect {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  gap: 30px;
}

.connect__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--contact-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition);
}

.connect__icon {
  margin-right: 10px;
  fill: currentColor;
}

.connect__link:hover,
.connect__link:focus {
  color: var(--accent-color);
}
