.portfolio__section {
  background-color: var(--font-color);
}

.portfolio-buttons {
  @extend %flex;
  margin-top: 0;
  margin-bottom: 50px;

  @media screen and (min-width: 480px) {
    flex-wrap: wrap;
    gap: 8px;
    justify-content: flex-start;
  }
}
.portfolio-buttons__item {
  margin-right: 8px;
  &:last-child {
    margin-right: 0;
  }
}

.portfolio-buttons__text {
  font-family: inherit;
  background-color: #f5f4fa;
  color: var(--primary-text-color);
  @include fonts(500, 16px, 1.6, 0.03em);
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--transition);
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--font-color);
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08),
      0 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio-buttons__text-primary {
  background-color: var(--accent-color);
  color: var(--font-color);
}
.gallery {
  padding-top: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @media screen and (min-width: 480px) {
    flex-direction: column;
  }
}

.gallery__item {
  flex-basis: calc((100% - 2 * 30px) / 3);
  border: 1px solid #ffffff;
  border-radius: 4px;
  transition-property: opacity;
  transition-delay: 250ms;
  transition-timing-function: var(--transition);
  cursor: pointer;
}

.gallery__link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--transition);
}

.gallery__link:hover,
.gallery__link:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.galery__img {
  display: block;
  width: 370;
  width: 100%;
}

.gallery__title {
  margin-bottom: 4px;
  @include fonts(700, 18px, 2, 0.06em);
  color: var(--primary-text-color);
}

.gallery__wrap {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.gallery__text {
  @include fonts(400, 16px, 1.9, 0.03em);
  color: var(--contact-color);
}

.gallery__wrap {
  position: relative;
  overflow: hidden;
}
.gallery__overlay {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  color: var(--font-color);
  width: 100%;
  height: 100%;
  @include fonts(400, 18px, 1.56, 0.03em);
  padding-top: 63px;
  padding-left: 24px;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms var(--transition), opacity 250ms var(--transition);
}

.gallery__link:hover .gallery__overlay,
.gallery__link:focus .gallery__overlay {
  opacity: 1;
  transform: translateY(0);
}
