.mob-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 15px;
}

.mob-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.menu-open__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin-left: auto;
}

.menu-close__btn {
  display: block;
  margin: 0;
  width: 40px;
  height: 40px;
  margin-left: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  fill: var(--accent-color);
  margin-bottom: 9px;
}

.mob-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-connect__item {
  margin-bottom: 32px;
}

.mob-mail__item {
  margin-bottom: 64px;
}

.mob-tel__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mob-connect__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--contact-color);
}
.mob-soc__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mob-soc__item .mob-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  color: var(--accent-color);
}
