.navigation {
  @extend %flex;
  gap: 50px;
}

.navigation__link {
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding: 32px 2px;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition);
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--accent-color);
}
.navigation__link--current {
  color: var(--accent-color);
}

.navigation__link--current::after {
  content: "";
  display: block;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
}

.navigation-menu__button {
  display: inline-flex;
  margin: 0;
  border: none;
  background-color: transparent;
}

.navigation-menu__button .navigation-menu__icon--cross {
  display: none;
}
.navigation-menu__button .is-open .navigation-menu__icon--menu {
  display: block;
}
