.offers {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  background-color: var(--font-color);
}

.offers__item {
  width: 100%;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.offers__box {
  background-color: #f5f4fa;
  @extend %flex;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.offers__icon {
  @extend %flex;
  margin-right: 30px;
}

.offers__title {
  color: var(--primary-text-color);
  @include fonts(700, 14px, 1.1, 0.03em);
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.offers__text {
  color: var(--contact-color);
  @include fonts(null, 14px, 1.7, 0.03em);
  text-transform: none;
  margin-bottom: 0;
  justify-content: center;
  align-items: center;
}
