.page-header {
  background-color: var(--font-color);
  padding-bottom: 0;
  padding-top: 0;
  border-bottom: 1px solid #ececec;
}

.page-header__logo {
  @media screen and (min-width: 480px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.page-header__container {
  @extend %flex;
}

.connect {
  @extend %flex;
  margin-left: auto;
  gap: 30px;

  @media screen and (max-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: auto;
    gap: 30px;
  }
}
.connect-item__mail {
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
.connect__link {
  display: flex;
  align-items: center;
  @include fonts(500, 12px, 1.1, 0.02em);
  color: var(--contact-color);
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 10px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    padding: 0;
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    @include fonts(500, 14px, 1.1, 0.02em);
    margin-bottom: 0;
  }
}

.connect__icon {
  margin-right: 10px;
  fill: currentColor;
}
