.page-header {
  background-color: var(--font-color);
  padding-bottom: 0;
  padding-top: 0;
  border-bottom: 1px solid #ececec;
}

.page-header__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.page-header__container {
  @extend %flex;
}

.connect {
  @extend %flex;
  margin-left: auto;
  gap: 30px;

  @media screen and (min-width: 480px) {
    display: none;
  }
}

.connect__link {
  @include fonts(500, 14px, 1.1, 0.02em);
  color: var(--contact-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition);

  &_icon {
    margin-right: 10px;
    fill: currentColor;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (min-width: 480px) {
    display: none;
  }
}
