.page-footer__section {
  background-color: var(--hero-font);
  padding-bottom: 60px;
  padding-top: 60px;
}

.page-footer__container {
  display: flex;
  align-items: baseline;
}
.footer__tablet {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}
.studio--color-light {
  color: var(--font-color);
}

.page-footer__text {
  color: var(--font-color);
  font-style: normal;
  font-family: "Roboto";
  @include fonts(400, 14px, 1.7, 0.03em);
  margin-bottom: 9px;
  margin-top: 20px;
}

.page-footer__connect {
  display: block;
}

.footer-connect__item {
  margin-bottom: 6px;
}

.footer__link {
  font-style: normal;
  color: var(--font-color);
  @include fonts(null, 14px, 1.7, 0.03em);
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition);
}

.footer__link:hover,
.footer__link:focus {
  color: var(--accent-color);
}

.socials__box {
  margin-left: 70px;
  align-items: baseline;
}

.socials__title {
  @include fonts(700, 14px, 1.1, 0.03em);
  color: var(--font-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.socials__link-theme-dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-socials__icon {
  fill: var(--font-color);
}

.footer-socials__icon:hover,
.footer-socials__icon:focus {
  background-color: var(--accent-color);
}

/* підпишись форма у футер form*/

.email-input {
  width: 570px;
  margin-left: auto;
}

.email-input__text {
  @include fonts(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  color: var(--font-color);
  margin-bottom: 20px;
}

.email-input__box {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  outline: none;
  color: var(--font-color);
  transition: border-color 250ms var(--transition);
}

.email-input_box:hover,
.email-input__box:focus {
  border-color: var(--accent-color);
}

.email-input__form {
  display: flex;
  align-items: baseline;
}

.email-input__btn {
  @extend %flex;
  width: 200px;
  padding: 10px 28px;
  margin-left: 12px;
  @include fonts(700, 16px, 1.88, 0.06em);
  color: var(--font-color);
  background: var(--accent-color);
  border-radius: 4px;
  outline: none;
  border: none;
  transition: transform 250ms var(--transition),
    box-shadow 250ms var(--transition);
}

.email-input__icon {
  background-color: var(--accent-color);
  fill: var(--font-color);
  align-self: center;
  margin-left: 10px;
}
