.team__section {
  background-color: var(--team-font);

  @media screen and (max-width: 1199px) {
    margin-top: 60px;
  }
}

.team {
  @media screen and (min-width: 480px) {
    display: block;
    margin-top: 30px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 50px;
  }
}

.team__item {
  background-color: var(--font-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-right: 30px;

  @media screen and (min-width: 768px) {
    flex-direction: calc((100% -30px) / 2);
  }
}

.team__item:last-child {
  margin-right: 0;
}

.team__title {
  color: var(--primary-text-color);
  @include fonts(500, 16px, 1.2, 0.03em);
  text-align: center;
  margin-bottom: 10px;
}

.team__text {
  color: var(--contact-color);
  @include fonts(400, 16px, 1.2, 0.03em);
  text-align: center;
  margin-bottom: 16px;
}

.team__wrap {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}
